@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  color: #374050;
}

/* ===== Common Css ===== */

.ml-auto {
  margin-left: auto;
}

.d-inline-block {
  display: inline-block;
}

/* Avatar Component */
.avatar {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid #fff;
  box-sizing: border-box;
}
.avatar.rounded {
  border-radius: 50%;
}
.avatar.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Icon Badge Component*/
.icon-badge {
  display: inline-block;
  position: relative;
}
.icon-badge svg {
  font-size: 24px;
}
.icon-badge .badge {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #fe3a6d;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 50%;
  color: #fff;
  right: -5px;
  top: -5px;
}

/* Menu Component */
.menu {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.menu p {
  display: inline-flex;
  align-items: center;
}
.menu p.align-top {
  align-items: flex-start;
}
.menu svg {
  margin-right: 5px;
  margin-left: 5px;
}

/* Media Component */
.media {
  padding: 20px 15px;
  display: flex;
}
.media .media-body {
  padding-left: 30px;
}

header {
  position: fixed;
  min-height: 100px;
  width: 100%;
  z-index: 2;
  display: flex;
  background-color: #fff;
}
header .brand-logo {
  background-color: #ff8892;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
header .header-content {
  flex-grow: 1;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding-right: 30px;
}
header .header-content .header-content-inner ul {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
header .header-content .header-content-inner ul li {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
header .header-content .header-content-inner ul li .menu svg {
  font-size: 11px;
}
header .header-content .header-content-inner ul li .menu .avatar {
  margin-right: 10px;
}
header .header-content .header-content-inner ul li .icon svg {
  font-size: 24px;
}

.body-layout {
  padding-top: 100px;
  padding-left: 100px;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: stretch;
  width: calc(100% - 100px);
}

aside {
  position: fixed;
  left: 0;
  height: calc(100vh - 100px);
  z-index: 1;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  width: 100px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
}

aside ul {
  padding: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
aside ul li {
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  color: #fe8992;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

aside ul li.active {
  background-color: #ffe6e9;
}

main {
  padding-top: 40px;
  display: flex;
  flex-grow: 1;
}

main .inbox hr {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #e9e9e9;
}
main .inbox {
  width: 350px;
  padding-left: 40px;
  padding-right: 40px;
}

main .inbox .search-container .icon-input {
  position: relative;
  display: flex;
}
main .inbox .search-container .icon-input svg {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-25%, -50%);
  color: #697180;
}
main .inbox .search-container .icon-input input {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  font-style: italic;
  border: none;
  color: #374050;
  padding-left: 40px;
}
main .inbox .search-container .icon-input input:focus {
  box-shadow: none;
  outline: none;
}
main .inbox .search-container .icon-input input::placeholder {
  color: #b8b8b8;
}

main .inbox .inbox-list-container .header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
main .inbox .inbox-list-container .header h5 {
  margin-bottom: 0;
}
main .inbox .inbox-list-container .header .menu svg {
  font-size: 14px;
}
main .inbox .inbox-list-container .inbox-list {
  height: calc(100vh - 335px);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .inbox .inbox-list-container .inbox-list::-webkit-scrollbar {
  display: none;
}
main .inbox .inbox-list-container .inbox-item {
  background-color: #fff;
  border-bottom: 2px solid #e9e9e9;
}
main .inbox .inbox-list-container .inbox-item.active {
  border-color: transparent;
}
main .inbox .inbox-list-container .inbox-item:last-child {
  border: none;
}
main .inbox .inbox-list-container .inbox-list .inbox-item .avatar {
  position: relative;
}
main .inbox .inbox-list-container .inbox-list .inbox-item .avatar::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #ddd;
  border-radius: 50%;
  border: 2px solid #fff;
  right: 0;
  bottom: 0px;
}
main
  .inbox
  .inbox-list-container
  .inbox-list
  .inbox-item
  .avatar.active::after {
  background-color: #00f868;
}
main .inbox .inbox-list-container .inbox-list .inbox-item .avatar.away::after {
  background-color: #faa633;
}
main .inbox .inbox-list-container .inbox-list .inbox-item .avatar.busy::after {
  background-color: #fe484e;
}

main .inbox .inbox-list-container .inbox-list .inbox-item .media-body h5 {
  margin-bottom: 5px;
}
main
  .inbox
  .inbox-list-container
  .inbox-list
  .inbox-item
  .media-body
  h5:nth-child(2) {
  font-weight: 400;
}
main
  .inbox
  .inbox-list-container
  .inbox-list
  .inbox-item.seen
  .media-body
  h5:nth-child(2) {
  color: #888;
}
main .inbox .inbox-list-container .inbox-list .inbox-item .media-body .time {
  color: #afafaf;
}

main .inbox .inbox-list-container .inbox-item.active {
  background-color: #fe8992;
}
main .inbox .inbox-list-container .inbox-item.active h5,
main .inbox .inbox-list-container .inbox-item.active .time {
  color: #fff !important;
}

main .chatbox {
  background-color: #fff;
  flex-grow: 1;
}
main .chatbox .chatbox-header {
  padding: 20px 15px;
  border-bottom: 2px solid #e9e9e9;
  display: flex;
  align-items: center;
}
main .chatbox .chatbox-header .avatar {
  margin-right: 15px;
}
main .chatbox .chatbox-header .user-name {
  font-size: 20px;
}
main .chatbox .chatbox-body {
  height: 800px;
  border-bottom: 2px solid #e9e9e9;
  padding: 30px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .chatbox .chatbox-body::-webkit-scrollbar {
  display: none;
}
main .chatbox .chatbox-body .message-list .message-box {
  display: flex;
  flex-wrap: wrap;
}
main .chatbox .chatbox-body .message-list .message-box.avatar-bottom {
  align-items: flex-end;
}
main .chatbox .chatbox-body .message-list .message-box.avatar-bottom .avatar {
  margin-bottom: 15px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages {
  padding-left: 20px;
  flex-grow: 1;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .text-message {
  min-height: 60px;
  padding: 10px;
  display: flex;
  max-width: 600px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 8px 8px 8px;
  color: #696969;
  margin-bottom: 15px;
  box-sizing: border-box;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .complete-time {
  text-align: right;
  margin-top: -10px;
  color: #bfbfbf;
  margin-bottom: 15px;
  font-size: 14px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .complete-time
  span {
  margin-right: 5px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .complete-time
  svg {
  margin-left: 5px;
  color: #46b2a8;
}
main .chatbox .chatbox-body .message-list .message-box.right {
  justify-content: flex-end;
}
main .chatbox .chatbox-body .message-list .message-box.right .avatar {
  order: 2;
}
main .chatbox .chatbox-body .message-list .message-box.right .message-wrapper {
  order: 1;
  padding-right: 20px;
  padding-left: 0;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box.right
  .message-wrapper
  .messages
  .text-message {
  border-radius: 8px 0 8px 8px;
  box-shadow: none;
  background-color: #f7f8fc;
  max-width: 700px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .text-message.file {
  max-width: 350px;
  width: 2000px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .text-message.file
  svg {
  margin-right: 10px;
  color: #fe8992;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box.right
  .message-wrapper
  .messages
  .text-message.file {
  margin-left: auto;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .text-message.audio {
  max-width: 350px;
  width: 2000px;
  display: flex;
  position: relative;
  padding-left: 35px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .text-message.audio
  svg {
  margin-right: 10px;
  color: #fe8992;
  position: absolute;
  left: 15px;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box.right
  .message-wrapper
  .messages
  .text-message.audio
  .bar {
  flex-grow: 1;
  height: 7px;
  background-color: #fe8992;
  border-radius: 4px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box.right
  .message-wrapper
  .messages
  .text-message.audio
  .time {
  padding-left: 10px;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .video-message {
  max-width: 350px;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .video-message
  img {
  width: 100%;
}
main
  .chatbox
  .chatbox-body
  .message-list
  .message-box
  .message-wrapper
  .messages
  .video-message
  svg {
  position: absolute;
  font-size: 60px;
  color: #fe8992;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

main .chatbox .chatbox-footer {
  padding: 15px 10px;
  display: flex;
  align-items: stretch;
}
main .chatbox .chatbox-footer .icons ul {
  padding: 0;
  display: flex;
}
main .chatbox .chatbox-footer .icons ul li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}
main .chatbox .chatbox-footer .icons ul li svg {
  font-size: 24px;
  color: #c1c1c1;
}
main .chatbox .chatbox-footer .input {
  flex-grow: 1;
  font-size: 24px;
  color: #c1c1c1;
  position: relative;
  display: flex;
}
main .chatbox .chatbox-footer .input input {
  height: 100%;
  width: 100%;
  border: none;
  display: inherit;
  font-size: 16px;
  padding-right: 50px;
}
main .chatbox .chatbox-footer .input input::placeholder {
  color: #c1c1c1;
}
main .chatbox .chatbox-footer .input input:focus {
  outline: none;
}
main .chatbox .chatbox-footer .input svg {
  flex-grow: 1;
  font-size: 24px;
  color: #fd8791;
  position: absolute;
  right: 25px;
  cursor: pointer;
}
